<nav class="navbar navbar-expand-lg navbar-light bg-lightx fixed-top ">
  <div class="container">
     <a href="#" class="navbar-brand" ><span class="text-primary">Repara</span>Delivery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbar-start" aria-controls="navbar-start" aria-expanded="false" 
        aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="navbar-start">
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>      
  </div>
</nav>

/* GET seecion (productos). */
router.get('/productos', function(req, res, next) {
  res.render('productos', { title: 'Productos' });
});

/* GET seecion (comprar). */
router.get('/comprar', function(req, res, next) {
  res.render('comprar', { title: 'Comprar' });
});

router.get('/tecnico', function(req, res, next) {
  res.render('tecnico', { title: 'Tecnico' });
});


<!--menu productos-->
<div class="row d-flex justify-content-center">
  <div class="col-md-2">
      <div class="row  align-items-start justify-content-end">
          <div class="container fluid bg-white">
              <!-- Botón para abrir/cerrar el menú en dispositivos móviles -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuCollapse"
                  aria-controls="menuCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Menú envuelto dentro del contenedor collapse -->
              <div class="collapse" id="menuCollapse">
                  <h3>Filtrar</h3>
                  <hr>
                  <h5>Marcas</h5>
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="alcatel">
                              <button type="submit" class="nav-link">Alcatel</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="huawei">
                              <button type="submit" class="nav-link">Huawei</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="lg">
                              <button type="submit" class="nav-link">Lg</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="motorola">
                              <button type="submit" class="nav-link">Motorola</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="nokia">
                              <button type="submit" class="nav-link">Nokia</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="samsung">
                              <button type="submit" class="nav-link">Samsung</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="tcl">
                              <button type="submit" class="nav-link">Tcl</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="xiaomi">
                              <button type="submit" class="nav-link">Xiaomi</button>
                          </form>
                      </li>
                      <li class="nav-item">
                          <form action="/productos" method="post">
                              <input type="hidden" name="marca" value="zte">
                              <button type="submit" class="nav-link">Zte</button>
                          </form>
                      </li>

                  </ul>

              </div>

          </div>

      </div>


  </div>


  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
  aria-label="Toggle navigation">
  <h3>Filtrar</h3>
  <i class=" Filtrar bi bi-filter"></i>
</button>

<div class="offcanvas offcanvas-top offcanvas-Producto" tabindex="-1" id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title=" id="offcanvasNavbarLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
  </div>