<nav class="navbar navbar-expand-lg navbar-light bg-lightx fixed-top ">
  <div class="container">
     <a href="#" class="navbar-brand" ><span class="text-primary">Repara</span>Delivery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbar-start" aria-controls="navbar-start" aria-expanded="false" 
        aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="navbar-start">
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>      
  </div>
</nav>