
<%- include ('layouts/header.ejs') %>
<!--imagen portada-->
<div class="container-fixed-top">
    <img src="/images/imgPortada.jpg" class="img-fluid" alt="">
</div>
<BR>
<H1 class="text-center textOfertas">OFERTAS</H1>
<BR>
<!--contenedores de ofertas-->
<div class="container-fluid" >
    <div class="row d-flex justify-content-center" >
        <a href="/comprar" class="container btn btn-light col-md-5 mb-4">
            <div class="d-flex">
                <div class="p-2 w-50">
                    <h6>Promoci칩n diaria</h6>
                    <h2>MODULO A20S</H2>
                    <H1>20%OFF</H1>
                </div>
                <div class="w-50">
                    <img src="\images\dise침os.jpg" class="img-fluid" alt="">      
                </div>
              </div>       
        </a>
    
        <a href="/comprar" class="container btn btn-light col-md-5 mb-4">
            <div class="d-flex">
                <div class="p-2 w-50">
                    <h6>Promoci칩n diaria</h6>
                    <h2>MODULO A20S</H2>
                    <H1>20%OFF</H1>
                </div>
                <div class="w-50">
                    <img src="\images\dise침os.jpg" class="img-fluid" alt="">      
                </div>
              </div>       
        </a>    
    </div> 
</div>

 <%- include ('layouts/footer.ejs') %>

    

  