<%- include ('layouts/header.ejs') %>
<H1 class="text-center textOfertas">PRODUCTOS</H1>
<BR>    
<!--contenedores de ofertas-->
<div class="container-fluid">
    <% for (let i = 0; i < 9; i++) { %>
        <% if (i % 3 === 0) { %>
            <div class="row">
        <% } %>
        <a href="/comprar" class="container btn btn-light col-md-3 mb-4">
            <img src="/images/diseños1.jpg" class="img-fluid" alt="">
            <h1>MODULO A20S</h1>
            <h6>Pantalla oled similar a la original</h6>
        </a>
        <% if ((i + 1) % 3 === 0 || i === 10) { %>
            </div>
        <% } %>
    <% } %>
</div>
<!--<div class="container-fluid">
    <div class="row">
        <% for (let i = 0; i < 3; i++) { %>
            <div class="container btn btn-light col-md-3 mb-4">
                <img src="/images/diseños1.jpg" class="img-fluid" alt="">
                <h1>MODULO A20S</h1>
                <h6>Pantalla oled similar a la original</h6>
            </div>
        <% } %>
        
</div>-->
  
  
   
<%- include ('layouts/footer.ejs') %>