<%- include ('../layouts/header.ejs') %>
<BR>
    <div class="container-fluid d-flex justify-content-center">
        <div class="card col-md-11 mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="/images/diseños1.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                    <h6 class="card-text">Samsung</h6>
                    <h1 class="card-title">Modulo A20s</h1>
                    <p class="card-text">Modulo OLED simil original</p>
                    <BR>
                    <h1 class="card-title">Precio</h1>
                    <BR></BR>
                    <button type="button" class="btn btn-dark">Comprar</button>
                </div>
              </div>
            </div>
          </div>    
    </div>
    
<%- include ('../layouts/footer.ejs') %></BR>