@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/
* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightgray;
}
.listaMenu .nav-link {
  color: white;
  font-size: large;
}

.btn-usuario{
  font-size: x-large;
  fill: white;
 
}

.btn-carrito{
  font-size: x-large;
  fill: white;
 
}
.offcanvas-title{
  color: white;
  font-size: large;
}

.carrito-vacio{
  font-size: xx-large;
  fill: white; 
}




.contenedorBusqueda {
  background-color: white;
}

.imagenPortada {
  background-color: white;
}

.busqueda::placeholder {
  font-size: 85%;

}

.textOfertas {
  background-color: white;
}

.contenedorComprar {
  background-color: white;
}

.nav-link {
  color: black;
}

