<%-include ('../login/layouts/header') %>

    <div class="col-md-5 mx-auto">
        <% if (alert) { %>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle"></i>
                <div>
                    Usuario no registrado
                </div>
            </div>
            <% } %>

    </div>
    <div class="col-md-5 mx-auto">
        <div class="container fluid bg-white rounded shadow">
            <h4 class="d-flex justify-content-center mb-5"> Ingresa a Repara Delivery</h4>

            <form method="post" action="/login" class="formulario" id="formulario">

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Ingresa tu email" name="email">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con
                        nadie más.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"
                        name="contrasenia">
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mantener Conectado</label>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <br>
                    <label for="noRegistrado">¿Aún no te registraste?</label>
                    <a href="/login/registrarUsuario" class="btn btn-outline-secondary">Registrarme</a>

                </div>
                <br>

            </form>

        </div>
    </div>
    
    <%-include ('../login/layouts/footer') %>