<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= login %>
    </title>

    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <!--menu navegador-->
    <nav class="navbar navbar-expand-lg bg-primary me-auto mb-5">
        <div class="container">
            <!--Logo-->
            <a href="#" class="navbar-brand text-dark"><span class="text-light me-auto">Repara</span>Delivery</a>
    </nav>
    <div class="col-md-5 mx-auto">
        <% if (alert) { %>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle"></i>
                <div>
                    Usuario no registrado
                </div>
            </div>
            <% } %>

    </div>
    <div class="col-md-5 mx-auto">
        <div class="container fluid bg-white rounded shadow">
            <h4 class="d-flex justify-content-center mb-5"> Ingresa a Repara Delivery</h4>

            <form method="post" action="/login">

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Ingresa tu email" name="email">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con
                        nadie más.</small>
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"
                        name="contraseña">
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mantener Conectado</label>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <br>
                    <label for="noRegistrado">¿Aún no te registraste?</label>
                    <button type="submit" class="btn btn btn-outline-secondary">Registrarme</button>
                </div>
                <br>

            </form>
        </div>
    </div>