<%-include ('../login/layouts/header') %>
    <div class="col-md-5 mx-auto">
        <div class="container fluid bg-white rounded shadow">
            <h4 class="d-flex justify-content-center mb-5"> Registro de cuenta para Repara Delivery</h4>

            <form method="post" action="/login/registrarUsuario"  class="formulario" id="formulario">
                <div class="col-md-8 mx-auto mb-5">
                    <% if (alert) { %>
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <i class="bi bi-exclamation-triangle"></i>
                            <div>
                                Correo electrónico ya registrado
                            </div>
                        </div>
                        <% } %>
                            <label class=" mb-3">Los marcacados (*) son obligatorios</label>

                            <div class="input-group mb-3" id="grupo__email">
                                <span class="input-group-text">Correo Electronico</span>
                                <input name="email" type="text" class="form-control" id="email"
                                    placeholder="* Correo Electronico" aria-label="email">
                                
                            </div>
                            <div id="mensaje-email" style="color: red;"></div>

                            <div class="input-group mb-3" id="grupo__contrasenia">
                                <span class="input-group-text">Contraseña</span>
                                <input name="contrasenia" type="text" class="form-control"
                                    placeholder="* Contraseña" aria-label="Username">

                            </div>
                            <div id="mensaje-contrasenia" style="color: red;"></div>
                            
                            <div class="input-group mb-3" id="grupo__nombre">
                                <span class="input-group-text">Nombre</span>
                                <input name="nombre" type="text" class="form-control" placeholder="* Nombre"
                                    aria-label="Username">

                            </div>
                            <div id="mensaje-nombre" style="color: red;"></div>

                            <div class="input-group mb-3" id="grupo__apellido">
                                <span class="input-group-text">Apellido</span>
                                <input name="apellido" type="text" class="form-control" placeholder="* Apellido"
                                    aria-label="Username">
                            </div>
                            <div id="mensaje-apellido" style="color: red;"></div>

                            <div class="input-group mb-3" id="grupo__direccion">
                                <span class="input-group-text">Dirección</span>
                                <input name="direccion" type="text" class="form-control"
                                    placeholder="* calle o mza y lote" aria-label="Username">

                            </div>
                            <div id="mensaje-direccion" style="color: red;"></div>

                            <div class="input-group mb-3" id="grupo__numero">
                                <span class="input-group-text">Numero</span>
                                <input name="numero" type="text" class="form-control" placeholder="Nº"
                                    aria-label="Username">
                            </div>
                            <div id="mensaje-numero" style="color: red;"></div>
                            

                            <div class="input-group mb-3" id="grupo__barrio">
                                <span class="input-group-text">Barrio</span>
                                <input name="barrio" type="text" class="form-control" placeholder="Barrio"
                                    aria-label="Username">
                            </div>
                            <div id="mensaje-barrio" style="color: red;"></div>

                            <div class="input-group mb-3" id="grupo__provincia">
                                <label class="input-group-text" for="inputGroupSelect02">Provincia</label>
                                <select name="provincia" class="form-select" id="inputGroupSelect02">
                                    <option selected>Elegir...</option>
                                    <option value="Santiago del Estero">Santiago del estero</option>
                                </select>
                            </div>
                            <div id="mensaje-provincia" style="color: red;"></div>
                            
                            <div class="input-group" id="grupo__numeroTelefono">
                                <span class="input-group-text">Número Teléfono</span>
                            </div>
                            <div class="input-group mb-3">
                                <input name="numeroTelefono" type="text" class="form-control" placeholder="*Código de área sin 0 y número sin 15"
                                    aria-label="Username">
                            </div>
                            <div id="mensaje-numeroTelefono" style="color: red;"></div>
                            <div class="mx" id="mensaje-datosCorrectos" style="color: red;"></div>

                </div>


                <div class="d-grid gap-2 col-5 mx-auto">
                    <button type="submit" class="btn btn-primary" id="btnRegistrarse">Registrarse</button>
                    <br>
                </div>
                <br>

            </form>

        </div>
    </div>
   <!-- <%-include ('../login/layouts/validacion') %>-->
    <%-include ('../login/layouts/footer') %>