<%-include ('../layouts/header') %>
    <H1 class="text-center textOfertas">PRODUCTOS</H1>
    <BR>
    <div class="row d-flex justify-content-center">
        <div class="col-md-2">
            <div class="row  align-items-start">
                <div class="container fluid bg-white rounded">
                    <!--menu filtrar-->
                    <nav class="navbar navbar-expand-lg bg-white">
                        <div class="container-fluid justify-content-center">

                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                aria-label="Toggle navigation">
                                <h3>Filtrar</h3>
                                <i class=" Filtrar bi bi-filter"></i>
                            </button>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                                aria-labelledby="offcanvasNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title=" id="offcanvasNavbarLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body d-flex">
                                    <ul class="nav flex-column">
                                        <h3>Filtrar</h3>
                                        <hr>
                                        <h5>Marcas</h5>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Alcatel">
                                                <button type="submit" class="nav-link">Alcatel</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Huawei">
                                                <button type="submit" class="nav-link">Huawei</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Lg">
                                                <button type="submit" class="nav-link">Lg</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Motorola">
                                                <button type="submit" class="nav-link">Motorola</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Nokia">
                                                <button type="submit" class="nav-link">Nokia</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Samsung">
                                                <button type="submit" class="nav-link">Samsung</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Sony">
                                                <button type="submit" class="nav-link">Sony</button>
                                            </form>
                                        </li>

                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Tcl">
                                                <button type="submit" class="nav-link">Tcl</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Xiaomi">
                                                <button type="submit" class="nav-link">Xiaomi</button>
                                            </form>
                                        </li>
                                        <li class="nav-item">
                                            <form action="/productos" method="post">
                                                <input type="hidden" name="marca" value="Zte">
                                                <button type="submit" class="nav-link">Zte</button>
                                            </form>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!--mostrar productos-->
        <div class="col-md-8">
        <H1 class="text-center">NO EXISTE EL MODELO</H1>
        </div>
     

    </div>


    



    <%- include ('../layouts/footer.ejs') %>